* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.main-header {
	width: 1920px;
	height: 110px;
	background-color: #141a1d;
}

.main-nav li {
	float: left;
	display: inline;
}

.index-logo {
	float: left;
}

.dropdown-content {
	display: none;
}