* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	min-width: 1920px;
}

.main-header {
	background-color: #141a1d;	
}

.header-container {
	width: 1920px;
	height: 110px;
	margin-left: auto;
    margin-right: auto;
}

.index-logo {
	float: left;
}

.main-nav {
	float: right;
	padding-top: 50px;
	margin-right: 96px;
}

.main-nav li {
	display: inline;
	padding-left: 40px;
	margin-top: 50px;
	margin-bottom: 40px;
	/* float: right; */	
}

.main-nav a {
	color: #637076;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 24px;
}

.main-nav a:hover {
	color: #fff;
}













.dropdown-content {
	display: none;
	position: absolute; /* Подменю позиционируются абсолютно */
	width: 235px;
	height: 267px;
	background-color: #141a1d;
	margin-top: 0px;
}

.dropdown-content a {
	color: #fff;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: none;
	padding-top: 13px;
	padding-bottom: 13px;

}

.dropdown-content a:hover {
	background-color: #00a1df;
}

li:hover .dropdown-content { 
    display: block; /* При выделении пункта курсором мыши отображается подменю */
   }











.slider {
	width: 1920px;
	height: 700px;
}

.question-section{
	background-color: #ff5722;
	background-size: cover;
}

.question-section-container {
	width: 1920px;
	height: 197px;
	margin-left: auto;
	margin-right: auto;
}

.index-content {
	background: url(../img/index-content-bg.jpg) 50% 0;
	background-size: cover;
}

.index-content-container {
	margin-left: auto;
	margin-right: auto;
	width: 1920px;
	height: 1130px;
}

/* задать цвет фона картинок */