* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.main-header {
	width: 1920px;
	height: 110px;
	background-color: #141a1d;
}

.main-nav {
	font-size: 24px;
}

.main-nav li {
	float: left;
	display: inline;
	margin-right: 40px;
	margin-top: 50px;
	margin-bottom: 42px;
}

.main-nav a {
	color: #637076;
}

.index-logo {
	float: left;
}

.dropdown-content {
	display: none;
}