* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	min-width: 1920px;
}

.main-header {
	background-color: #141a1d;
}

.header-container {
	width: 1920px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
}

.index-logo {
	float: left;
}

.main-nav {
	margin-left: 805px;  
}

.main-nav a {
	color: #637076;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 24px;
	float: left;
	text-align: center;
	padding: 50px 0px 40px 30px;
}

.main-nav a:hover {
	color: #fff;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 235px;
	height: 225px;
	background-color: #141a1d;
	margin-top: 110px;
}

.dropdown-content a {
	float: none;
	color: #fff;
	display: block;
	padding: 12px 16px 12px 30px;
	text-align: left;
	margin-top: 0px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: none; 
}

.dropdown-content a:hover {
	background-color: #00a1df;  
}

.dropdown:hover .dropdown-content { 
	display: block;
}





.slider {
	width: 1920px;
	height: 700px;
}






.question-section{
	background-color: #ff5722;
	background-size: cover;
}

.question-section-container {
	width: 1920px;
	height: 197px;
	margin-left: auto;
	margin-right: auto;
}

.question-section-text {
	font-size: 38px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.question-section-btn {
	font-size: 28px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	border: 2px #fff solid;
	padding: 28px 45px 25px 48px;
}

.question-section-btn:hover {
	font-weight: bold;
}





.index-content {
	background: url(../img/index-content-bg.jpg) 50% 0;
	background-size: cover;
}

.index-content-container {
	margin-left: auto;
	margin-right: auto;
	width: 1920px;
	height: 1130px;
}

/* задать цвет фона картинок */