* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	min-width: 1920px;
}

.main-header {
	background-color: #141a1d;
}

.header-container {
	width: 1920px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
}

.index-logo {
	float: left;
}

.main-nav {
	margin-left: 805px;  
}

.main-nav a {
	color: #637076;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 24px;
	float: left;
	text-align: center;
	padding: 50px 0px 40px 30px;
}

.main-nav a:hover {
	color: #fff;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 235px;
	height: 225px;
	background-color: #141a1d;
	margin-top: 110px;
}

.dropdown-content a {
	float: none;
	color: #fff;
	display: block;
	padding: 12px 16px 12px 30px;
	text-align: left;
	margin-top: 0px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: none; 
}

.dropdown-content a:hover {
	background-color: #00a1df;  
}

.dropdown:hover .dropdown-content { 
	display: block;
}

.dropbtn {
	color: #fff !important;
}









.slider-section {

	background-image: url(../img/slide1-bg.jpg) ;
	background-size: cover;
	background-color: #000;

}


.slider {
	width: 1170px;
	height: 699px;
	margin-left: auto;
	margin-right: auto;


}

.slide-heading {
	font-family: 'Lato', sans-serif;
	font-size: 92px;
	font-weight: 900;
	text-transform: uppercase;
	float: left;
	color: #fff;

	margin-top: 175px;
}










.question-section{
	background-color: #ff5722;
	background-size: cover;
}

.question-section-container {
	width: 1170px;
	height: 197px;
	margin-left: auto;
	margin-right: auto;
}

.question-section-container p {
	float: left;
	margin-top: 58px;
	max-width: 730px;	
}

.question-section-container a {
	float: right;
}

.question-section-text {
	font-size: 38px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.question-section-btn {
	font-size: 28px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	border: 2px #fff solid;
	padding: 28px 45px 25px 48px;
	margin-top: 59px;	
}

.question-section-btn:hover {
	opacity: 0.7;
}



















.index-content {
	background: url(../img/index-content-bg.jpg) 50% 0;
	background-size: cover;
}

.index-content-container {
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	height: 1130px;
}

.texture-item {
	max-width: 270px;
	float: left;
	padding-right: 30px;
}

.aperiam {
	padding-right: 0px;
}

.idex-content-title {
	font-size: 72px;
	font-weight: 300;
	font-family: 'Open sans', sans-serif;
	text-transform: uppercase;
	padding-top: 130px;
	padding-bottom: 46px;
}

.expect {
	font-weight: 800;
}

.idex-content-text {
	font-family: 'Open sans', sans-serif;
	font-size: 22px;
	font-weight: 300;
	padding-bottom: 88px;
}

.texture-name {
	font-family: 'Open sans', sans-serif;
	font-size: 30px;
	font-weight: 800;
	color: #0398d6;
	padding-top: 36px;
	padding-bottom: 4px;
}

.texture-item b {
	font-family: 'Open sans', sans-serif;
	font-size: 18px;
	font-weight: bold;

}

.texture-item p {
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding-top: 7px;
	padding-bottom: 30px;	
}

.btn {
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	background-color: #ff5722;
	padding: 19px 30px 19px 25px;
	position: absolute;
}

.btn:hover {
	opacity: 0.8;
}







/* задать цвет фона картинок */