* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.main-header {
	width: 1920px;
	height: 110px;
	background-color: #141a1d;
}

.main-nav {
	font-size: 24px;
}

.main-nav li {
	float: right;
	display: inline;
	margin-right: 40px;
	margin-top: 50px;
	margin-bottom: 42px;
}

.main-nav a {
	color: #637076;
}

.index-logo {
	float: left;
}

.dropdown-content {
	display: none;
}

.slider {
	width: 1920px;
	height: 700px;
}

.question-section{
	width: 1920px;
	height: 197px;
	background-color: #ff5722;
}

.index-content {

	background: url(../img/index-content-bg.jpg) 50% 0;
	background-size: cover;
}

.iner-index-content {
	width: 1920px;
	height: 1130px;
}

/* задать цвет фона картинок */